* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;

  &__page-content {
    flex: 1 1 auto;
  }
}

* h2 {
  font-size: 42px;
  font-weight: 700;

  @media (max-width: 1024px) {
    font-size: 32px;
  }

  @media (max-width: 550px) {
    font-size: 28px;
  }
}

* h4 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3;
}

* p {
  font-size: 18px;
  line-height: 1.5;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}